# Ignored files
ml-object-detector.code-workspace
ml_object_detector.egg-info/
venv/
.env
__pycache__/
*.pyc
input_images/*
output_images/*
data/*
logs/*
src/ml_object_detector/models/weights/*.pt
src/ml_object_detector/models/*
architecture.txt
reports/*
uploads/*
repo_link.txt

# Not ignored files
!input_images/.gitkeep
!output_images/.gitkeep
!logs/.gitkeep
!data/.gitkeep
!src/ml_object_detector/models/.gitkeep
!reports/.gitkeep
!uploads/.gitkeep